<footer>
  <div class="container">
    <div class="container footer-top row">
      <div class="col-sm-6">
        <h3>Cities</h3>
        <ul class="nav">
          <li>Fontana</li>
          <li>Colton</li>
          <li>San Bernardino</li>
        </ul>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
    <hr class="footer-sep">
    <div class="container footer-bottom row">
      <p class="text-center center-block">&copy; 2016 NuLevel Partners. All Rights Reserved.</p>
    </div>
  </div>
</footer>
