<div class="home" ng-controller="authCtrl" >
	<div id="form-loading" ng-hide="isLoggedIn()">
	</div>
    <div id="restoring">
    </div>
	<div ng-show="isLoggedIn()">
		<div class="property-viewer clearfix" ng-controller="PropertyCtrl">
	        <ng-map ng-controller="MapCtrl as vm" id="property-map" class="prop-map" zoom-to-include-markers="auto" zoom="12" center="34.1422725,-117.30587750000001" default-style="false" styles='[
    {"featureType": "water","elementType": "geometry.fill","stylers": [{"color": "#d3d3d3"}]}, {
        "featureType": "transit",
        "stylers": [
            {
                "color": "#808080"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#b3b3b3"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            },
            {
                "weight": 1.8
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#d7d7d7"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ebebeb"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#a7a7a7"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#efefef"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#696969"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#737373"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#d6d6d6"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {},
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#dadada"
            }
        ]
    }
]'>
	        	<marker id="pin{{property.pid}}" ng-repeat="property in properties" position="{{property.latlng}}" on-click="vm.showDetails(property.pid,property.latlng)" icon="{url:'../img/map-pin_{{property.phase}}.png',
    			scaledSize:[20,32],
    			origin: [0,0],
    			anchor: [0,32]}"
          animation="DROP">
    			</marker>
	        </ng-map>
            <i id="info-box-switch" ng-click="closeBox()" class="glyphicon glyphicon-circle-arrow-right flip"></i>
	        <div id="info-box" class="add-info" >
	        	<div class="row" ng-repeat="property in filteredProperties = (properties | pidFilter:addInfo)" ng-show="property">
				    <div class="row">
				    <h4>Rehab Details: {{property.address}}</h4>
					   <div class="col-sm-5 rehab-titles">
						  <ul>
							<li>Purchase Cost:</li>
							<li>Purchase Date:</li>
							<li>Entity Vesting:</li>
							<li>Lender:</li>
							<li>Rehab Estimate:</li>
							<li>ARV:</li>
						  </ul>
					   </div>
					   <div class="col-sm-7">
						  <ul>
							<li>{{property.purchase_cost || 'Not Defined'}}</li>
							<li>{{property.purchase_date || 'Not Defined'}}</li>
							<li>{{property.entity_vesting || 'Not Defined'}}</li>
							<li>{{property.lender || 'Not Defined'}}</li>
							<li>{{property.rehab_estimate || 'Not Defined'}}</li>
                            <li>{{property.arv || 'Not Defined'}}</li>
						  </ul>
					   </div>
				    </div>
                    <a href="/#/properties/{{property.pid}}/rehab">
					   <button class="btn btn-primary">View Rehab Details</button>
                    </a>
				</div>
				<div id="select-a-property">
					<h3>Please select a property</h3>
				</div>
	        </div>
      	</div>
        <div class="home-table" ng-controller="PropertyCtrl">
            <div class="hide-map">
                <i id="hide-map-switch" ng-click="hideMap()" class="glyphicon glyphicon-circle-arrow-up"></i>
                <i id="filter-switch" ng-click="toggleFiltering()" class="glyphicon glyphicon-filter"></i>
                <i id="reset" ng-click="reset()" class="glyphicon glyphicon-refresh"></i>
            </div>
            <div id="grid1" class="grid" ui-grid="gridOptions" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-save-state></div>
        </div>
	</div>
</div>