<div class="home-container">
	<div id="bg" class="bg"></div>
	<div class="jumbotron text-center">
		<div class="container-fluid">
			<div class="row">
				<h1 class="col-sm-12">CHEAP HOUSE LISTINGS</h1>
			</div>
			<div class="row">
				<p class="col-md-8 col-md-offset-2">Join our network of VIP Cash Buyers to get first access to discounted investment properties in your area.</p>
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<a href="/#/signup"><button class="btn btn-primary btn-lg col-sm-12">SIGN UP</button></a>
				</div>
				<div class="col-sm-4">
					<a href="/#/listings"><button class="btn btn-secondary btn-lg col-sm-12">VIEW ALL PROPERTIES</button></a>
				</div>
			</div>
		</div>
	</div>
	<main class="home-content">
		<div class="container-fluid">
			<div class="row">
				<h2 class="col-sm-6">Find a property near you</h2>
			</div>
			<div class="search-form-box">
				<form ng-submit="setParams(city,priceQ,beds,baths)" ng-controller="ListingCtrl" name="home-search" class="container-fluid" role="form">
					<div class="form-group city-search col-sm-3">
						<input class="form-control" type="text" placeholder="City" ng-model="city">
					</div>
					<div class="form-group price-search col-sm-3">
						<select class="form-control" name="cost" ng-model="priceQ" ng-options="option.value as option.name for option in priceOptions">
						</select>
					</div>
					<div class="form-group bed-search col-sm-2">
						<select class="form-control" name="beds" ng-model="beds" ng-options="option.value as option.name for option in bedOptions">
						</select>
					</div>
					<div class="form-group bath-search col-sm-2">
						<select class="form-control" name="baths" ng-model="baths" ng-options="option.value as option.name for option in bathOptions">
						</select>
					</div>
					<div class="form-group submit-search col-sm-2">
						<button class="btn btn-primary" type="submit">Submit</button>
					</div>
				</form>
			</div>
			<div class="row col-sm-12">
				<div class="row home-info-section">
					<div class="col-md-6 nice-house-top">

					</div>
					<div class="col-md-6">
						<h3>Discounted Wholesale Properties</h3>
						<p class="home-info">Repossessed houses and foreclosures, properties in need of major repairs, owners under financial hardship. Whatever the reason, it means cheap house listings for you. We're talking about 25&ndash;75% off of the original price of these homes. The perfect selection of properties for you to yield a high Return On Investment. </p>
					</div>
				</div>
				<div class="row home-info-section">
					<div class="col-md-6 pull-right nice-house-middle">

					</div>
					<div class="col-md-6 pull-left">
						<h3>Before they go public</h3>
						<p class="home-info">Many of these properties can be accessed through bank sales or by finding the perfect seller, but that can be a time consuming and competitive affair. We do the work for you and get the listings to you before anyone else has a chance.</p>
					</div>
				</div>
				<div class="row home-info-section">
					<div class="col-md-6 nice-house-bottom">

					</div>
					<div class="col-md-6">
						<h3>Exclusive for our members</h3>
						<p class="home-info">Once you join, you'll have access to  our exclusive collection of hand-picked properties that are available only to members for a limited time. You'll have to act fast because these properties will be gone within a matter of days, the deals are just too good! Get a head start on some of the best cheap house listings in the area. Sign up today!</p>
					</div>
				</div>
				<div class="row final-cta">
					<div class="col-sm-4 col-sm-offset-2">
						<h1>Get Access Now</h1>
					</div>
					<div class="col-sm-4">
						<a href="/#/signup"><button class="btn btn-lg btn-secondary col-sm-12">Sign Up</button></a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
