<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Listings</li>
    </ul>
</div>
<div class="page-content">
	<div class="container">
		<div class="page-header">
			<h1>Listings</h1>
		</div>
		<div class="clearfix listing-display-box" ng-repeat="listing in listings">
			<div class="clearfix">
				<h2><a ng-href="/#/listings/{{listing.lid}}">{{listing.address}}</a></h2>
				<div class="image-repeat-box" ng-repeat="image in listing.images">
					<img class="img-responsive" ng-hide="!image" ng-src="../api/v1/uploads/{{image}}" />
				</div>
				<h4>{{listing.city}}</h4>
				<h5>Offered at ${{listing.price}}</h5>
				<ul>
					<li>Beds: {{listing.beds}}</li>
					<li>Baths: {{listing.baths}}</li>
					<li>Square Footage: {{listing.sqft}}</li>
					<li>Lot Size: {{listing.lotsize}}</li>
				</ul>
        <div class="row">
				  <p class="col-sm-6">{{listing.listdesc}}</p>
				  <br>
        </div>
        <div class="row">
          <div class="col-sm-3">
    				<button ng-click="saveListing(listing)" class="btn btn-primary">Save Listing</button>
          </div>
        </div>
			</div>
			<hr>
		</div>
	</div>
</div>
