<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Listings</li>
    </ul>
</div>
<div class="page-content">
	<div class="container">
		<div class="page-header">
			<h1>Listings</h1>
		</div>
		<div  ng-repeat="listing in listings">
			<h2>{{listing.address}}</h2>
			<h4>{{listing.city}}</h4>
			<h5>Offered at {{listing.price}}</h5>
			<ul>
				<li>Beds: {{listing.beds}}</li>
				<li>Baths: {{listing.baths}}</li>
				<li>Square Footage: {{listing.sqft}}</li>
				<li>Lot Size: {{listing.lotsize}}</li>
			</ul>
			<p class="col-sm-6">{{listing.listdesc}}</p>
			<br>
		</div>
	</div>
</div>
