<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="authCtrl">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand navbar-collapse collapse" aria-expanded="false" rel="home" title="Home" href="/">Cheap House Listings</a>
    <div class="search-bar pull-left">
      <form ng-submit="setParams(city)" ng-controller="ListingCtrl">
        <input type="text" ng-model="city" placeholder="Search by City..." />
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
    </div>
  </div>
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" style="height:1px" >
    <ul class="nav navbar-nav pull-right" ng-click="hideMenu()">
      <li class="mobile-brand" ><a rel="home" title="Sign Up" href="/">Home</a></li>
      <li ng-show="isLoggedIn()"><a title="dashboard" href="/#/dashboard">{{name}}</a></li>
      <li> <a title="listings" href="/#/listings">Listings</a></li>
      <li ng-show="isAdmin()"><a title="new-listing" href="/#/listings/new-listing">Create A Listing</a></li>
      <li ng-hide="isLoggedIn()"><a title="Sign Up" href="/#/signup">Sign Up</a></li>
      <li ng-hide="isLoggedIn()"><a title="Login" href="/#/login">Log In</a></li>
      <li ng-show="isLoggedIn()"><a title="Logout" ng-click="logout();">Log Out</a></li>
    </ul>
  </div>
</nav>
