<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/#/listings">Listings</a></li>
        <li class="active">Create A Listing</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4>
                            Create a New Listing
                        </h4>
                        <br/>
                        <form name="newListingForm" class="form-horizontal" role="form" ng-submit="newListing(newlisting)">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="address">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Address" name="address" ng-model="newlisting.address" focus required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="city">City</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" name="city" placeholder="City" ng-model="newlisting.city" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="price">Price</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" name="price" placeholder="Price" ng-model="newlisting.price" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="sqft">Square Footage</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" name="sqft" placeholder="Sq Ft" ng-model="newlisting.sqft" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="lotsize">Lot Size</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Lot Size" name="lotsize" ng-model="newlisting.lotsize" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="beds">Bedrooms</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Beds" name="beds" ng-model="newlisting.beds" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="baths">Bathrooms</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Baths" name="baths" ng-model="newlisting.baths" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="listdesc">Description</label>
                                <div class="col-sm-8">
                                  <textarea rows="4" cols="50" class="form-control" name="listdesc" ng-model="newlisting.listdesc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="images">Images</label>
                                <div class="col-sm-8">
                                  <input type="file" id="file" name="file" accept="image/*" file-model="myFile" ng-model="newListing.images" multiple>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button id="form-submit-button" type="submit" class="width-35 pull-left col-sm-5 btn btn-lg btn-primary"  data-ng-disabled="newListingForm.$invalid" ng-click="uploadFile()">
                                        Create
                                    </button>
                                    <img id="form-loading" class="co-sm-2" src="../images/loading.gif" />
                                </div>
                            </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->
