<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/#/listings">Listings</a></li>
        <li class="active">Listing ID</li>
    </ul>
</div>
<div class="page-content">
	<div class="container">
		<div class="page-header">
			<h1>{{s.address}}</h1>
		</div>
    <div class="listing-box col-sm-7">
  		<div class="image-repeat-box" ng-repeat="image in s.images">
  			<img class="img-responsive" ng-hide="!image" ng-src="../api/v1/uploads/{{image}}" />
  		</div>
  		<div>
  			<h4>{{s.city}}</h4>
  			<h5>Offered at ${{s.price}}</h5>
  			<ul>
  				<li>Beds: {{s.beds}}</li>
  				<li>Baths: {{s.baths}}</li>
  				<li>Square Footage: {{s.sqft}}</li>
  				<li>Lot Size: {{s.lotsize}}</li>
  			</ul>
  			<p>{{s.listdesc}}</p>
  		</div>
    </div>
    <div class="contact-box col-sm-offset-1 col-sm-4">
      <h4 class="form-heading">Property Inquiry</h4>
      <form name="listingInquiry" class="form-horizontal" ng-submit="submitInquiry(formData)" ng-controller="FormCtrl">
        <div class="form-group">
          <label class="control-label">Name:</label>
          <input class="form-control" type="text" ng-model="formData.name" required>
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input class="form-control" type="email" ng-model="formData.email" required>
        </div>
        <div class="form-group">
          <label class="control-label">Phone:</label>
          <input class="form-control" type="tel" ng-model="formData.phone" required>
        </div>
        <div class="form-group">
          <label class="control-label">Listing:</label>
          <input class="form-control" type="tel" ng-model="formData.listing" required>
        </div>
        <div class="form-group">
          <label class="control-label">Message:</label>
          <textarea cols="50" rows="4" class="form-control" type="text" ng-model="formData.message" required></textarea>
        </div>
        <div class="form-group">
          <button id="contactFormSubmit" class="btn btn-primary" data-ng-disabled="listingInquiry.$invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
